* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Brown Pro";
    src: url("assets/BrownPro-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Brown Pro Light";
    src: url("assets/BrownPro-Light.otf") format("opentype");
}

@font-face {
    font-family: "Brown Pro Thin";
    src: url("assets/BrownPro-Thin.otf") format("opentype");
}

:root {
    --page-bg-color: #1c1c1c;
    --page-font-color: #ffffff;
    --page-font-family: "Brown Pro Light";
}

h1 {
    font-family: "Brown Pro";
    font-weight: bolder;
    font-size: 30px;
}

h3 {
    font-family: "Brown Pro";
    font-weight: 100;
    font-size: 16px;
}

p {
    font-family: "Brown Pro Light";
    font-weight: normal;
    font-size: 20px;
    text-transform: none;
    margin-bottom: 25px;
    text-align: justify;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--page-bg-color);
    font-family: var(--page-font-family);
    font-weight: 300;
    font-size: 18px;
    color: var(--page-font-color);

    .marquee {
        background-color: #4169e1;
        padding: 10px;
        width: 100%;
        font-size: 18px;
        font-weight: 800;
        text-align: center;

    }
}

body .body {
    width: 1220px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    header {
        margin: 50px 0;

        .logo {
            img {
                height: 100px;
            }
        }
    }
}

/* HEADER */

/* END HEADER*/

/* SECTION 1 */

body .body section {
    width: 1220px;
}

body .body section .empresa {
    display: flex;
    flex-direction: column;
    .valores {
        margin-top: 50px;
        .valores-principais {
            width: 100%;
            display: flex;
            justify-content: center;
        }
        .valores-items {
            width: 100%;
            display: flex;
            .valores-items__item {
                flex: 1;
                margin: 60px 30px 20px 0;
                .valores-items__item--icon {
                    display: flex;
                    justify-content: center;
                }
                .valores-items__item--text {
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    margin-top: 30px;
                    font-size: 15px;
                }
            }
            .valores-items__item:last-child {
                margin-right: 0;
            }
        }
    }
}

body {
    footer {
        background-color: #1c1c1c;
        margin: 50px 0;
        width: 100%;
        display: flex;
        justify-content: center;

        .footer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 90%;

            .row-up {
                display: flex;

                div {
                    margin-right: 50px;

                    h2 {
                        margin: 20px 0;
                    }

                    p {
                        line-height: 1.8;
                    }

                    a {
                        display: block;
                        width: 100%;
                    }

                    img.size {
                        height: 35px;
                    }
                }

                div.links {
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    a {
                        color: #ffffff;
                        text-decoration: none;
                        font-weight: 700;
                        margin-bottom: 15px;
                    }
                }
            }

            .row-down {
                margin-top: 30px;
                text-align: center;
                line-height: 2.2;
            }
        }
    }
}

@media (max-width: 1220px) {
    body {

        .marquee {
            padding: 5px;
            font-size: 12px;
            font-weight: 600;
        }

        .body {
            width: 100%;

            header {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 25px 0;

                .logo {
                    margin: 0;

                    img {
                        max-height: 80px;
                    }
                }
            }

            section {
                width: 100%;
                display: flex;
                .empresa{
                    .valores {
                        .valores-items{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            text-align: center;
                            .valores-items__item {
                                margin: 30px 0;
                            }
                        }
                    }
                }
            }
        }

        footer {
            width: 100%;

            .footer {
                width: 100%;

                .row-up {
                    flex-direction: column;

                    div {
                        margin: 0;

                        img.size {
                            height: 30px;
                        }
                    }
                }
            }
        }
    }

    .flex {
        justify-content: space-around;
    }

}

.hide {
    display: none;
}