* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Brown Pro";
    src: url("assets/BrownPro-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Brown Pro Light";
    src: url("assets/BrownPro-Light.otf") format("opentype");
}

@font-face {
    font-family: "Brown Pro Thin";
    src: url("assets/BrownPro-Thin.otf") format("opentype");
}

:root {
    --page-bg-color: #1c1c1c;
    --page-font-color: #ffffff;
    --page-font-family: "Brown Pro Light";
}

h1 {
    font-family: "Brown Pro";
    font-weight: bolder;
    font-size: 30px;
}

h3 {
    font-family: "Brown Pro";
    font-weight: 100;
    font-size: 16px;
}

p {
    font-family: "Brown Pro Light";
    font-weight: normal;
    font-size: 20px;
    text-transform: none;
    margin-bottom: 25px;
    text-align: justify;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--page-bg-color);
    font-family: var(--page-font-family);
    font-weight: 300;
    font-size: 18px;
    color: var(--page-font-color);

    .marquee {
        background-color: #4169e1;
        padding: 10px;
        width: 100%;
        font-size: 18px;
        font-weight: 800;
        text-align: center;

    }
}

body .body {
    width: 1220px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    header {
        margin: 50px 0;

        .logo {
            img {
                height: 100px;
            }
        }
    }
}

/* HEADER */

/* END HEADER*/

/* SECTION 1 */

body .body section {
    width: 1220px;
}

body .body section .empresa {
    display: flex;
    flex-direction: column;
    .valores {
        margin-top: 50px;
        .valores-principais {
            width: 100%;
            display: flex;
            justify-content: center;
        }
        .valores-items {
            width: 100%;
            display: flex;
            .valores-items__item {
                flex: 1;
                margin: 60px 30px 20px 0;
                .valores-items__item--icon {
                    display: flex;
                    justify-content: center;
                }
                .valores-items__item--text {
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    margin-top: 30px;
                    font-size: 15px;
                }
            }
            .valores-items__item:last-child {
                margin-right: 0;
            }
        }
    }
}

body {
    footer {
        background-color: #1c1c1c;
        margin: 50px 0;
        width: 100%;
        display: flex;
        justify-content: center;

        .footer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 90%;

            .row-up {
                display: flex;

                div {
                    margin-right: 50px;

                    h2 {
                        margin: 20px 0;
                    }

                    p {
                        line-height: 1.8;
                    }

                    a {
                        display: block;
                        width: 100%;
                    }

                    img.size {
                        height: 35px;
                    }
                }

                div.links {
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    a {
                        color: #ffffff;
                        text-decoration: none;
                        font-weight: 700;
                        margin-bottom: 15px;
                    }
                }
            }

            .row-down {
                margin-top: 30px;
                text-align: center;
                line-height: 2.2;
            }
        }
    }
}

@media (max-width: 1220px) {
    body {

        .marquee {
            padding: 5px;
            font-size: 12px;
            font-weight: 600;
        }

        .body {
            width: 100%;

            header {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 25px 0;

                .logo {
                    margin: 0;

                    img {
                        max-height: 80px;
                    }
                }

            }

            section {
                width: 100%;
                display: flex;
                justify-content: center;

                .section {
                    flex-wrap: wrap;
                    justify-content: center;

                    .gallery {
                        width: 100%;
                        margin: 0;

                        .photo {
                            width: 100%;
                        }
                    }

                    .informations {
                        width: 100%;
                        margin: 20px 0;

                        .title {
                            width: 100%;
                            padding: 0 10px;
                        }

                        .price {
                            width: 100%;
                            padding: 0 10px;

                            .desc {
                                .sizes {
                                    width: 100%;

                                    .flex-sizes {
                                        width: 100%;

                                        .box-sizes {
                                            height: 30px;
                                            width: 30px;
                                        }
                                    }
                                }
                            }
                        }

                        .buy {
                            margin-top: 30px;
                        }
                    }
                }
            }


        }

        article {
            min-height: 400px;

            .section-2 {
                width: 100%;

                .xtreme-blur {
                    top: 35%;
                    margin: 0;
                }

                .photo-transparent {
                    top: 15%;

                    img {
                        width: 80%;
                    }
                }
            }
        }

        .section {
            width: 100%;

            .section-3 {
                background: url(assets/background-section-3-mobile.jpg) no-repeat;
                min-height: 850px;
                background-size: cover;
                display: flex;
                justify-content: flex-start;

                .box-section {
                    margin: 20px 0 0 0;
                    width: 100%;
                    padding: 0 5px;

                    .h2 {
                        width: 100%;

                        h2 {
                            line-height: 1.6;
                            font-size: 35px;
                        }
                    }

                    .text {
                        line-height: 1.8;

                        p {
                            font-size: 20px;
                        }
                    }
                }

            }

            .section-4 {
                background: url(assets/background-section-4-mobile.jpg);
                background-position: left bottom;
                background-repeat: no-repeat;
                min-height: 885px;
                background-size: cover;
                display: flex;
                align-items: start;

                .box-section {
                    margin: 0;
                    width: 100%;
                    padding: 0 5px;

                    .h2 {
                        width: 100%;

                        h2 {
                            line-height: 1.6;
                            font-size: 35px;
                        }
                    }

                    .text {
                        line-height: 1.6;

                        p {
                            font-size: 20px;
                        }
                    }
                }
            }

            .section-5 {
                background: url(assets/background-section-5-mobile.jpg);
                background-position: center bottom;
                background-repeat: no-repeat;
                min-height: 700px;
                background-size: cover;
                display: flex;
                justify-content: flex-start;

                .box-section {
                    margin: 20px 0 0 0;
                    width: 100%;
                    padding: 0 5px;

                    .h2 {
                        width: 100%;

                        h2 {
                            line-height: 1.6;
                            font-size: 35px;
                        }
                    }

                    .text {
                        line-height: 1.8;

                        p {
                            font-size: 20px;
                        }
                    }
                }
            }

            .section-6 {
                width: 100%;

                .box-section {
                    width: 100%;

                    .photo-transparent {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;

                        .prev {
                            margin: 0;

                            img {
                                width: 30px;
                            }
                        }

                        .show {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            max-width: 310px;

                            img {
                                width: 100%;
                            }
                        }

                        .next {
                            margin: 0;

                            img {
                                width: 30px;
                            }
                        }

                        .thumbs-slider {
                            .thumb-circle {
                                width: 80px;
                                height: 80px;
                            }
                        }
                    }
                }
            }

            .section-7 {
                background: url(assets/background-section-7-mobile.jpg);
                background-position: left bottom;
                background-repeat: no-repeat;
                min-height: 1024px;
                background-size: cover;
                display: flex;
                align-items: start;

                .box-section {
                    margin: 0;
                    width: 100%;
                    padding: 0 5px;

                    .h2 {
                        width: 100%;

                        h2 {
                            line-height: 1.6;
                            font-size: 35px;
                        }
                    }

                    .text {
                        line-height: 1.8;

                        p {
                            font-size: 20px;
                        }
                    }
                }
            }

            .section-8 {
                .table {
                    .row {
                        .col-top {
                            width: 100%;
                        }
                    }

                    .row {
                        display: flex;
                        flex-direction: column;

                        .col-left {
                            width: 100%;
                            padding: 0 5px;
                        }

                        .col-right {
                            width: 100%;

                            .cell {
                                img {
                                    width: 300px;
                                }
                            }
                        }
                    }
                }
            }

            .section-9 {
                background: url(assets/background-section-9-mobile.jpg);
                background-position: center bottom;
                background-repeat: no-repeat;
                min-height: 900px;
                background-size: cover;
                display: flex;

                .table {
                    width: 100%;

                    .row {
                        width: 100%;

                        .col-top {
                            width: 100%;

                            .title-section-9 {
                                padding: 0 5px;
                            }
                        }
                    }

                    .row {
                        display: flex;
                        flex-direction: column;

                        .col-right {
                            width: 100%;

                            .cell {
                                width: 100%;

                                .items {
                                    padding: 0 10px;

                                    .item {
                                        .icon {
                                            img {
                                                width: 50px;
                                            }
                                        }

                                        .text {
                                            font-size: 22px;
                                            line-height: 1.6;
                                        }
                                    }
                                }

                            }
                        }
                    }
                }
            }

            .section-10 {
                background: url(assets/background-section-10-mobile.jpg);
                background-position: center bottom;
                background-repeat: no-repeat;
                min-height: 800px;
                background-size: cover;
                display: flex;

                .table {
                    width: 100%;

                    .row {
                        width: 100%;

                        .col {
                            width: 100%;

                            .title-section-10 {
                                padding: 10px 5px;
                                font-size: 13px;
                            }

                            .subtitle-section-10 {
                                padding: 0;
                                text-align: center;
                            }
                        }
                    }

                    .row {
                        display: flex;
                        flex-direction: column;

                        .col-right {
                            width: 100%;

                            .cell {
                                width: 100%;

                                .items {
                                    padding: 0 10px;

                                    .item {
                                        .icon {
                                            img {
                                                width: 50px;
                                            }
                                        }

                                        .text {
                                            font-size: 22px;
                                            line-height: 1.6;
                                        }
                                    }
                                }

                            }
                        }
                    }
                }
            }

        }

        footer {
            width: 100%;

            .footer {
                width: 100%;

                .row-up {
                    flex-direction: column;

                    div {
                        margin: 0;

                        img.size {
                            height: 30px;
                        }
                    }
                }
            }
        }
    }

    .flex {
        justify-content: space-around;
    }

    .thumbs .thumb-card {
        width: 80px;
        height: 80px;
        border: 2px solid #697172;
        border-radius: 5px;

        div.hide {
            display: none;
        }
    }

    .thumbs .thumb-card img {
        width: 70px;
        border-radius: 5px;
    }

    .thumbs .thumb-card.selected {

        div.active {
            top: 3px;
            left: 3px;

            img {
                height: 20px;
                width: 20px;
            }
        }
    }


}

.hide {
    display: none;
}