/* AJUSTES TELAS COM 150% DE ZOOM */
@media (min-width: 1000px) and (max-width: 1500px) {
    body {
        font-size: 0.7rem;
    }

    p {
        font-size: 0.75rem;
    }

    .marquee {
        padding: 0.18rem;
    }

    header {
        .header {
            .logo {
                img {
                    height: 5rem;
                }
            }
        }
    }

    main {
        gap: 1.25rem;

        .main {
            gap: 1.20rem;

            .main-photo {
                img {
                    max-height: 40rem;
                }
            }

            .main-info {
                grid-template-columns: 25rem;
                gap: 1.2rem;
                font-size: 0.75rem;

                .main-info__options {
                    .main-info__options--colors {
                        h3 {
                            font-size: 0.75rem;
                        }
                    }

                    .options--colors__img {
                        max-width: 25rem;
                        justify-content: space-between;
                        margin: 0;

                        img {
                            height: auto;
                        }
                    }

                    .main-info__options--sizes {
                        .options--sizes__title {
                            h3 {
                                font-size: 0.75rem;
                            }
                        }

                        .options--sizes__numbers {
                            .size {
                                border: 2px solid rgb(100, 100, 100);
                                border-radius: .30rem;
                                font-size: 1rem;
                                padding: 0.3rem;
                            }

                            .size.selected {
                                border: 2px solid #4169e1;
                                font-weight: 600;
                            }
                        }
                    }

                    .main-info__payment {
                        gap: 1rem;

                        .payment__amount {
                            button {
                                width: 2rem;
                                font-size: 1rem;
                            }

                            input[type=number] {
                                font-size: 1rem;
                            }
                        }

                        .payment__button {
                            button {
                                font-size: 1.2rem;
                                padding: 0.6rem 0;
                                line-height: 101%;
                            }
                        }
                    }
                }
            }
        }

        h2 {
            font-size: 1.2rem;
        }

        .box-section {
            width: calc(100% - 5rem);
        }

        .section__text {
            width: 36.2rem;
            font-size: 1rem;
        }

        .right {
            margin-right: calc((100% + 10.6rem) / 2);
        }

        .section-7 {
            .section__items {
                .item {
                    .text {
                        font-size: 1rem;
                    }
                }
            }

            .section__shoe {
                img {
                    width: 28.1rem;
                }
            }
        }

        .section-8 {
            .box-section.right {
                width: 100%;
                max-width: 36.2rem;

                .section__items {
                    .item {
                        .icon {
                            img {
                                height: 4rem;
                                width: 4rem;
                            }

                            .text {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        background-color: inherit;
        margin: 3.1rem 0;
        width: 100%;
        display: flex;
        justify-content: center;

        h2 {
            font-size: 16px;
        }

        .footer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 90%;

            .row-up {
                display: flex;

                div {
                    margin-right: 3.1rem;

                    h2 {
                        margin: 1.25rem 0;
                    }

                    p {
                        line-height: 1.8;
                    }

                    a {
                        display: block;
                        width: 100%;
                    }

                    img.size {
                        height: 1.5rem;
                    }
                }

                div.links {
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    a {
                        color: #ffffff;
                        text-decoration: none;
                        font-weight: 700;
                        margin-bottom: 0.9rem;
                    }
                }
            }

            .row-down {
                margin-top: 1.8rem;
                text-align: center;
                line-height: 2.2;
            }
        }
    }
}

@media (max-width: 930px) {

    .page {
        width: 100%;
    }

    .header {
        width: 100%;
        display: flex;
        justify-content: center;

        & .logo {
            height: 6.25rem;
        }
    }

    .modal-sticky {
        display: flex;
        justify-self: center;
        justify-content: center;
        flex-wrap: wrap;
        position: sticky;
        bottom: 1rem;
        width: 360px;
        gap: 10px;

        & .modal-sticky__color {
            img {
                width: 70px;
                height: auto;
            }
        }

        & .modal-sticky__sizes {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            & .size {
                font-size: 13x;
                padding: 5px;
                border: 1px solid #fff;
                text-align: center;
            }
        }

        & .payment__button {
            width: 100%;
        }
    }

    main {
        display: flex;
        justify-content: center;
        gap: 1.87rem;
    }

    .main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;

    }

    .main-photo {
        width: 100%;
        display: flex;
        justify-content: center;

        & img {
            max-width: 95%;
            height: auto;
        }
    }

    .main-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        width: auto;
        max-width: 95%;

        & .main-info__options {

            & .main-info__options--colors {


                & .options--colors__img {
                    max-width: 100%;

                    img {
                        max-width: 5.3rem;
                        height: auto;
                    }
                }
            }
        }
    }

    section {

        & .section-1 {
            & .section__xtreme--blur {
                & img {
                    max-width: 23rem;
                    height: auto;
                }
            }

            & .section__xtreme--cloud {
                & img {
                    max-width: 23rem;
                    height: auto;
                }
            }
        }

        & .section-2 {
            background: url(./assets/background-section-3-mobile.jpg);
            background-position: center bottom;
            background-repeat: no-repeat;
            min-height: 850px;
            background-size: cover;
            display: flex;
            align-items: flex-start;
        }

        & .section-3 {
            background: url(./assets/background-section-4-mobile.jpg);
            background-position: left bottom;
            background-repeat: no-repeat;
            min-height: 885px;
            background-size: cover;
            display: flex;
            justify-content: start;
            flex-wrap: wrap;
            align-content: baseline;
        }

        & .section-4 {
            background: url(./assets/background-section-5-mobile.jpg);
            background-position: center bottom;
            background-repeat: no-repeat;
            min-height: 700px;
            background-size: cover;
            display: flex;
            place-items: flex-start;
        }

        & .section-5 {
            background: url(./assets/background-section-1.svg);
            background-position: center center;
            background-repeat: no-repeat;
            min-height: 600px;
            background-size: cover;
            padding: 0;

            & .section__slide {

                gap: 0.5rem;

                & .section__slide--prev,
                .section__slide--next {
                    img {
                        height: 2rem;
                    }
                }

                & .section__slide--shoe {
                    & img {
                        max-width: 19rem;
                        height: auto;
                    }
                }

                & .section__slide--thumbs {
                    & .thumbs-slider {
                        & .thumb-circle {
                            height: 4rem;
                            width: 4rem;

                            img {
                                height: 2rem;
                                width: auto;
                            }
                        }
                    }
                }
            }
        }

        .box-section {
            width: 100%;
        }

        .right {
            margin-right: 0;
        }
    }
}