* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Brown Pro";
    src: url("assets/BrownPro-Regular.otf") format("opentype");
}

:root {
    --h1-size: 1.87rem;
    --h2-size: 1.68rem;
    --h3-size: 1rem;
    --p-size: 0.9rem;
    --span-size: 0.9rem;
    --marquee-size: 1.12rem;

    --color-blue: #4169e1;
    --color-font: white;
}

h1 {
    font-size: var(--h1-size);
    text-transform: uppercase;
}

h2 {
    font-size: var(--h2-size);
    font-weight: normal;
}

h3 {
    font-size: var(--h3-size);
    font-weight: normal;
}

p {
    font-size: var(--p-size);
}

span {
    font-size: var(--span-size);
}

body {
    background-color: #272727;
    color: var(--color-font);
    font-family: 'Brown Pro', sans-serif;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.marquee {
    width: 100%;
    text-align: center;
    background-color: var(--color-blue);
    padding: 0.31rem 0;
}

.page {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1220px;
}

header {
    width: 100%;
    display: grid;
    place-items: center;
}

.logo {
    margin: 2.5rem 0;
}

.logo img {
    height: 6.25rem;
}

main {
    display: flex;
    justify-content: center;
    gap: 1.87rem;
}

.main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    width: 100%;
    gap: 1rem;
}

.main-photo {
    width: auto;
    height: auto;
}

.main-photo img {
max-width: 100%;
height: auto;
border-radius: 5px;
}

.main-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: auto;
}

.modal-sticky {
    display: none;
}

.main-info__title {
    display: grid;
    align-items: flex-start;
    grid-auto-rows: min-content;
    gap: .5rem;
}

.main-info__title--h1 h1 {
    font-weight: bold;
}

.main-info__title--h4 h4 {
    font-weight: normal;
}

.main-info__stars img {
    height: 0.75rem;
}

.main-info__price {
    display: grid;
}

.main-info__price--dashed {
    display: flex;
    align-items: center;
    line-height: 1;

    h5 {
        text-decoration: line-through;
        font-size: 0.8rem;
        font-weight: 100;
        color: rgb(189, 189, 189);
    }
}

.main-info__price--real h2 {
    color: var(--color-blue);
    font-weight: bold;
}

.main-info__price--card h3 {
    font-weight: normal;
}

.main-info__presentation {
    line-height: 160%;
}

.main-info__options {
    display: grid;
    gap: 1.5rem;
}

.main-info__options--colors {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.options--colors__img {
    width: 100%;
    display: flex;
    gap: 0.5rem;
}

.options--colors__img img {
    width: 6.25rem;
    height: auto;
    border: 0.12rem solid rgb(100, 100, 100);
    border-radius: 0.25rem;
    padding: 0.31rem;
    cursor: pointer;
}

.main-info__options--sizes {
    display: flex;
    flex-direction: column;
    gap: 0.62rem;
}

.options--sizes__numbers {
    display: flex;
    justify-content: space-around;
}

.options--sizes__numbers .size {
    font-family: 'Oxanium';
    font-size: 1rem;
    font-weight: normal;
    display: grid;
    place-items: center;
    padding: 0.4rem;
    border: 0.18rem solid rgb(100, 100, 100);
    border-radius: 0.25rem;
    line-height: 1;
    cursor: pointer;
    user-select: none;
}

.options--colors__img img.selected,
.options--sizes__numbers .size.selected {
    border: 0.18rem solid #4169e1;
    background-color: #182446;
    font-weight: 800;
}

.main-info__payment {
    display: flex;
    justify-content: space-between;
    gap: 0.9rem;
    width: 100%;
}

.payment__amount {
    display: flex;

    button {
        background-color: #3f3f3f;
        border: none;
        border-radius: 0.25rem 0 0 0.25rem;
        width: 2.3rem;
        font-family: 'Oxanium';
        font-size: 1.5rem;
        color: rgb(156, 156, 156);
    }

    button:last-child {
        border-radius: 0 0.25rem 0.25rem 0;
    }

    input[type=number] {
        width: 2.3rem;
        font-size: 1.3rem;
        font-weight: 300;
        text-align: center;
        background-color: #a7a7a7;
        border: none;
    }
}

.payment__button {
    width: 100%;
    display: flex;

    button {
        font-family: 'Oxanium';
        font-size: 1.4rem;
        font-weight: 600;
        background-color: #4674ff;
        color: white;
        width: 100%;
        border-radius: 0.25rem;
        border: none;
        cursor: pointer;
        padding: 0.62rem 0;
    }

    button:hover {
        background-color: #355dd4;
    }
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    appearance: none;
}

section {
    width: 100%;
}

.section-1 {
    background: url(./assets/background-section-1.svg) no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 37.5rem;
    display: grid;
    place-items: center;
    position: relative;
}

.section__xtreme--blur img {
    max-width: 56.2rem;
    width: 100%;
    animation: blurAnimation 3s infinite alternate;
}

@keyframes blurAnimation {
    0% {
        filter: blur(0px);
        transform: translateX(0);
    }

    50% {
        filter: blur(5px);
        transform: translateX(0px);
    }

    100% {
        filter: blur(1px);
        transform: translateX(0px);
    }
}

.section__xtreme--cloud {
    position: absolute;

    img {
        max-width: 37.5rem;
        animation: cloudAnimation 3s infinite alternate;
    }
}

@keyframes cloudAnimation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}

.section-2 {
    background: url(./assets/background-section-3.jpg) no-repeat;
    background-position: center bottom;
    min-height: 37.5rem;
    background-size: cover;
    display: grid;
    place-items: center;
}

.section-3 {
    background: url(./assets/background-section-4.jpg) no-repeat;
    background-position: center bottom;
    min-height: 37.5rem;
    background-size: cover;
    display: grid;
    justify-content: end;
    align-content: center;
}

.section-4 {
    background: url(./assets/background-section-5.jpg) no-repeat;
    background-position: center bottom;
    min-height: 37.5rem;
    background-size: cover;
    display: grid;
    place-items: center;
}

.section-5 {
    background: url(./assets/background-section-1.svg) no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
    padding: 1.8rem 0;

    .section__slide {
        display: grid;
        grid-template-areas:
            "section__slide--prev section__slide--shoe section__slide--next"
            ". section__slide--thumbs .";
        place-items: center;
        gap: 1.25rem;

        .section__slide--prev {
            grid-area: section__slide--prev;

            img {
                height: 3.1rem;
                filter: invert(100%);
                cursor: pointer;
            }
        }

        .section__slide--shoe {
            grid-area: section__slide--shoe;

            img {
                max-width: 37.5rem;
                filter: drop-shadow(0px 0px 6px #fff);
                animation: cloudAnimation 3s infinite alternate;
            }
        }

        .section__slide--next {
            grid-area: section__slide--next;

            img {
                height: 3.1rem;
                filter: invert(100%);
                cursor: pointer;
            }
        }

        .section__slide--thumbs {
            grid-area: section__slide--thumbs;
            width: 100%;
            display: grid;
            place-items: center;

            .thumbs-slider {
                width: 100%;
                display: flex;
                justify-content: space-around;

                .thumb-circle {
                    height: 6.25rem;
                    width: 6.25rem;
                    background-color: rgb(196, 196, 196);
                    border-radius: 50%;
                    display: grid;
                    place-items: center;
                    cursor: pointer;

                    img {
                        height: 3.1rem;
                        width: 4.8rem;
                    }
                }

                .thumb-circle.active {
                    border: 0.18rem solid #355dd4;
                    background-color: #ffffff;
                }
            }
        }

    }
}

.section-6 {
    background: url(./assets/background-section-7.jpg) no-repeat;
    background-position: center bottom;
    min-height: 37.5rem;
    background-size: cover;
    display: grid;
    justify-content: end;
    align-content: center;
}

.section-7 {
    background: url(./assets/background-section-8.jpg) no-repeat;
    background-position: center bottom;
    min-height: 37.5rem;
    background-size: cover;
    display: grid;
    grid-template-areas:
        "section__h2 section__h2"
        "section__items section__shoe";
    align-items: center;

    .section__h2 {
        grid-area: section__h2;
        justify-self: center;
    }

    .section__items {
        grid-area: section__items;
        display: grid;
        gap: 1.8rem;
        justify-self: end;

        .item {
            display: flex;
            align-items: center;
            gap: 0.9rem;

            .text {
                font-size: 1.5rem;
                color: #414141;
            }
        }
    }

    .section__shoe {
        grid-area: section__shoe;
        justify-self: start;

        img {
            width: 31.2rem;
        }
    }
}

.section-8 {
    background: url(./assets/background-section-9.jpg) no-repeat;
    background-position: center bottom;
    min-height: 37.5rem;
    background-size: cover;
    display: grid;
    justify-content: end;
    align-content: center;

    .box-section {
        gap: 1.25rem;

        .section__h2 {
            justify-self: center;

            h2 {
                filter: none;
            }
        }

        .section__items {
            display: grid;
            gap: 1.25rem;

            .item {
                display: flex;
                align-items: center;
                gap: 1.25rem;

                .text {
                    display: flex;
                    align-items: center;
                    font-size: 1.25rem;
                    gap: 1.25rem;
                    max-width: 46.8rem;
                }
            }
        }
    }
}

.section-9 {
    background: url(./assets/background-section-10.jpg) no-repeat;
    background-position: center bottom;
    min-height: 37.5rem;
    background-size: cover;
    display: grid;
    align-items: center;

    .box-section {
        width: 100%;
        justify-content: center;
        text-align: center;
    }
}

.box-section {
    width: calc(100% - 12.5rem);
    min-height: 16.5rem;
    display: grid;
    justify-content: space-between;
}

/* pesquisar calc() */

.right {
    width: 100%;
    margin-right: calc((100% + 18.7rem) / 2);
}

.section__h2 {
    h2 {
        text-transform: uppercase;
        filter: drop-shadow(3px 3px 2px #000);
    }
}

.section__text {
    max-width: 50rem;
    font-size: 1.25rem;
    font-weight: normal;
    line-height: 150%;
    filter: drop-shadow(3px 3px 2px #000);
    text-align: justify;
}

.section__h2 {
    h2.black {
        color: #414141;
        filter: none;
    }
}

.section__text.black {
    color: #414141;
    filter: none;
}

footer {
    background-color: inherit;
    margin: 3.1rem 0;
    width: 100%;
    display: flex;
    justify-content: center;

    h2 {
        font-size: 1.5rem;
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 90%;

        .row-up {
            display: flex;

            div {
                margin-right: 3.1rem;

                h2 {
                    margin: 1.25rem 0;
                }

                p {
                    line-height: 1.8;
                }

                a {
                    display: block;
                    width: 100%;
                }

                img.size {
                    height: 1.5rem;
                }
            }

            div.links {
                display: flex;
                flex-direction: column;
                width: 100%;

                a {
                    color: #ffffff;
                    text-decoration: none;
                    font-weight: 700;
                    margin-bottom: 0.9rem;
                }
            }
        }

        .row-down {
            margin-top: 1.8rem;
            text-align: center;
            line-height: 2.2;
        }
    }
}

.hide {
    display: none;
}